@tailwind base;
@tailwind components;
@tailwind utilities;

/* Credits to https://codepen.io/valentin/pen/DjjgwW */
.cloud-bg {
	position: relative;
	height: 100%;
	background: url(/img/clouds.png) 0 200px;
	animation: wind 30s linear infinite;
}

@keyframes wind {
	0% {
		background-position: 0 300px;
	}
	100% {
		background-position: 1200px 300px;
	}

}
